/* Your CSS Code here. */
.player{
	max-width:750px;
	margin:20px auto;
	background: #eee;
	border:1px solid #ccc;
	padding:10px;
}
.viewer{
	width:100%;
	max-height:400px;
	background:black;
}
.control{
	display:flex;
	align-items:centre;
	margin-top:5px;
}
.progress{
	flex:1;
	height:10px;
	background:#ccc;
	cursor:pointer;
	margin-right:10px;
	position:relative;
}
.progress__filled{
	width:0;
	background:#f66;
	flex-basis:0;
	height:100%;
	transition:width 0.1s linear;
}
button, input[type=range]{
	margin:0 5px;
}